.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-text-1 {
  width: 773px;
  margin: 48px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 170px;
  min-width: 68px;
  margin: 14px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 50px;
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  height: 50px;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-3 {
  height: 50px;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#666666, #333333);
  margin: 90px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 95px;
    margin-left: -24px;
    margin-right: -24px;
  }
}